name: agrodeep_driver_app
description: 'AgroDeep Driver Mobile Application - Transport Missions & POD'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  http: ^1.1.0
  geolocator: ^10.1.0
  camera: ^0.10.5+5
  image_picker: ^1.0.4
  signature: ^5.4.0
  google_fonts: ^6.1.0
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
