apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: AgroLogistic-platform
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/AgroLogistic/platform
    targetRevision: HEAD
    path: infrastructure/k8s/overlays/production
    
  destination:
    server: https://kubernetes.default.svc
    namespace: AgroLogistic
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 10

---

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: AgroLogistic-staging
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/AgroLogistic/platform
    targetRevision: develop
    path: infrastructure/k8s/overlays/staging
    
  destination:
    server: https://kubernetes.default.svc
    namespace: AgroLogistic-staging
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 2m

---

apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: AgroLogistic
  namespace: argocd
spec:
  description: AgroLogistic Platform Project
  
  sourceRepos:
    - 'https://github.com/AgroLogistic/*'
  
  destinations:
    - namespace: 'AgroLogistic'
      server: https://kubernetes.default.svc
    - namespace: 'AgroLogistic-staging'
      server: https://kubernetes.default.svc
  
  clusterResourceWhitelist:
    - group: ''
      kind: Namespace
    - group: 'networking.k8s.io'
      kind: Ingress
  
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
  
  roles:
    - name: developer
      description: Developer access
      policies:
        - p, proj:AgroLogistic:developer, applications, get, AgroLogistic/*, allow
        - p, proj:AgroLogistic:developer, applications, sync, AgroLogistic/*-staging, allow
      groups:
        - developers
    
    - name: admin
      description: Admin access
      policies:
        - p, proj:AgroLogistic:admin, applications, *, AgroLogistic/*, allow
      groups:
        - admins
